.ContainerHead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: red; */
    text-align: center;
    align-items: center;
}

.RechercheBarre{
    display: flex;
    /* background-color: brown; */
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: left;
    /* width: 1000px; */
    height: 110px;
}

#BarreDeRecherche{
    width: 750px; 
}

.ContainerMenu{
    display : flex;
    flex-direction: row;
}

.Connexion{
    margin-right: 20px;
}
.Contact{
    margin-right: 20px;
}


@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');
span{
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}
span a{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
}
.btn1 a:before,
.btn1 a:after{
  position: absolute;
  content: "CONNEXION";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  border-radius: 50px;
}

.btn2 a:before,
.btn2 a:after{
  position: absolute;
  content: "CONTACT";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  border-radius: 5px;
}

.btn3 a:before,
.btn3 a:after{
  position: absolute;
  content: "INSERTION";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  border-radius: 5px;
}


span a:before{
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}
span a:after{
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}
span a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}

